@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
:root {
  --containerbg: #ccc;
  --buttonbg: #a151d6;
  --maintextcolor: #ddd;
  --anchortext: #931ce2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--anchortext);
}
li {
  list-style-type: none;
}

/* the welcome nonstick container*/
.welcomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.welcomeAddress {
  flex: 1;
  text-align: left;
  margin-left: 20px;
}
.welcomeCont {
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
}
.welcomeSocials {
  flex: 1;
  text-align: right;
  padding: 0px 20px;
}

.logo-mission {
  display: flex;
  align-items: center;
}
.logo-mission p {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.logo-mission img {
  max-width: 140px;
  border-radius: 10px;
}  
.welcomeSocials a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
  transition: color 0.3s ease;
}
.welcomeSocials i {
  width: 40px;
}
.welcomeSocials a:hover {
  color: #931ce2;
}


/* the navigation bar */
header {
  position: sticky;
  top: 0;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}
.navlinks {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.leftnavlinks ul {
  flex: 1;
  align-items: left;
}
.rightnavlinks ul {
  flex: 1;
  align-items: right;
  position: relative;
}
.leftnavlinks nav ul,
.rightnavlinks nav ul {
  display: flex;
  padding: 20px;
}
.leftnavlinks nav ul {
  margin-left: 50px;
}
.leftnavlinks a {
  color: #222;
  text-decoration: none;
  padding: 0 40px;
  font-weight: bold;
  margin-right: 10px;
}

.rightnavlinks a.join-btn {
  color: var(--maintextcolor);
  font-size: 20px;
  font-weight: 900;
  background-color: var(--buttonbg);
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 40px;
  cursor: pointer;
}


/* the hero content */
.hero-container {
  display: flex;
  height: 100vh;
  width: 95%;
  margin: auto;
  background-size: 90%;
  background-position: center;
  position: relative;
}



.hero-text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -0%);
  text-align: center;
  padding: 20px;
  max-width: 80%;
}
.hero-button {
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -0%);
  top: 20%;
  right: 0%;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #931ce2;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
}

.hero-overlay h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 2rem;
  line-height: 1.6;
}

.highlight {
  color: var(--anchortext);
  font-weight: bold;
}

.button:hover {
  background-color: #f0f0f0;
}